@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Poppins:wght@400;500&display=swap');

/* Carrousel */
.slide img {
    height: 70vh;
    width: 10vh;
}

.row-1{
    background-color: #38aa38;
    color: white;
    align-items: center;
    text-align: center;
}

h1 {
    text-align: center;
}

.icono-1 {
    width: 150px;
    height: 100px;
}

.card-ii img{
    height: 276px;
    width: 400px;
}

.card-3 img{
    height: 276px;
    width: 400px;
}

.list-inline-item a {
    text-align: none;
    font-size: 17px;
}

.list-inline-item p {
    font-size: 17px;
}

.list-inline-item a:hover {
    color: #38aa38;
}

#paco-amoroso {
    font-family: 'Poppins', sans-serif;
    align-items: center;
    min-height: 100vh;
}

.indumentaria2 {
    height: 266px;
    width: 266px;
}

.row {
    justify-content: space-between;
}

.product-box .icons {
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: -3%;
    transition: all 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
}

.product-box .icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #c9df9262;
}

.product-box .onsale .badge {
    background: #000;
    font-size: 12px;
    padding: 5px 14px;
    top: 0px;
    position: absolute;
}

.product-box .onsale .badge:before {
    border-width: 10px 0px 0px 10px;
    border-color: transparent transparent transparent #000;
    content: "";
    position: absolute;
    right: -8px;
    width: 0;
    bottom: 0;
    border-style: solid;
}

.product-box .onsale .badge::after {
    border-width: 10px 8px 0 10px;
    border-color: #000 transparent transparent;
    content: "";
    position: absolute;
    right: -8px;
    width: 0;
    top: 0;
    border-style: solid;
}

.product-box img {
    box-shadow: 0 33px 61px -29px rgb(0 0 0/26%);
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.product-box.is-hover .icons {
    transform: rotateY(-3%);
    top: 3%;
    opacity: 1;
}

@media screen and (max-width: 360px) {
    
  
}





